
.test { 
    color: red;
    font-size: 29px;
}


.navbar-img{
    height: 100%;
}

.brand-center {justify-content: "center"}

.mainContainer{
    min-height: 70vh;
    /* background-color: #f9f5f5; */
}

.containerCards{
    padding: 2rem 0;
    display: grid;
    margin: 6rem 2rem;
    grid-template-columns: repeat(auto-fill, 22rem);
    gap: 5%;
    justify-content: center;
    align-items: center;
    /* background-color: #f9f5f5; */
}

.cardContainer{
    width: 22rem;
    height: 18rem;
    box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.75);
}

.cardContainer a {
    text-decoration: none;
    color: inherit;
}

.cardBody{
    
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img{
    height: 190px;
}

.companyListContainer{
    margin-top: 10vh;
    /* padding: 40px 13px; */
    
}

.goback {
    margin-bottom: 5vh;
}

.goback a{
    color: rgba(41, 40, 40, 0.89);
    /* text-decoration: none; */
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-shadow: 1px 3px 4px rgba(122, 121, 121, 0.83);
    
}

.companylist{
    
    display:grid;
    grid-template-columns: repeat(auto-fill, 20rem);
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.companylist .cardContainer{
    width: 18rem;
    height: 15rem;
    box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.75);
}

.footer{
    width: 100%;
    height: 10rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(248 249 250);
}

.borderDiv{
    height: 2rem;
    width: 60%;
    border-top: 1px solid #B0A8B9;
    
}

.welcomecontainer{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    background-image: url('../pexels-andrea-piacquadio-3823488.jpg');
    height: 40rem;
    background-repeat:repeat;
    background-size:cover;
}

.welcometext{
    margin-top: 25rem;
    font-size: 36px;
    color: rgb(12, 12, 12);
    font-weight:400;
    font-family: 'Merriweather Sans', sans-serif;
}